* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #202020;
}

.pl-5 {
  padding-left: 5.5rem;
}

.big-font a{
  font-size: 2.5rem;
  text-transform: uppercase;
}

strong,
i {
  padding-left: 0;
  margin: 0.5rem;
}

h1,
h2,
h3 {
  padding-left: 2.5rem;
}

h1 {
  color: #ffffff;
}

h2,
h3,
h4 {
  color: #dfd7d7;
}

.title {
  font-size: 5rem;
  font-weight: 500;
}

hr {
  margin: 50px 0 50px 0;
  border: 1px solid #2d2c33;
}

p {
  margin: 3.125rem 0 3.125rem 0;
  padding: 2.5rem;
  width: fit-content;
}

table a {
  text-decoration: none;
  color: #2fb6c3;
  font-weight: lighter;
  font-size: 1.3rem;
  transition: 2s ease;
}

table {
  position: relative;
  margin: 2rem 0 5rem 0;
  padding: 2em 2em;
  width: fit-content;
  border-left: 2px solid #2fb6c3;
}

table::before {
  position: absolute;
  top: 0;
  left: -4.2rem;
  content: "";
  background: url(./assets/index.svg) no-repeat;
  background-size: cover;
  width: 2.3rem;
  height: 2.3rem;
}

li,
td {
  padding: 1rem;
}

ul {
  margin: 2rem 0 5rem 0;
  padding: 2em 2em;
  border-left: 2px solid #2fb6c3;
  color: #ededed;
  position: relative;
  width: fit-content;
}

li {
  font-weight: lighter;
  font-size: 1.3rem;
  margin: 3px;
  color: #2fb6c3;
  list-style-type: none;
}

ul::before {
  position: absolute;
  top: 0;
  left: -4.2rem;
  content: "";
  background: url(./assets/book-pink.svg) no-repeat;
  background-size: cover;
  width: 2.3rem;
  height: 2.3rem;
}

pre.qn {
  margin-bottom: 5rem;
  padding: 2rem;
  padding-left: 0.5rem;
  width: fit-content;
  color: #a93e89;
  background: #202020;
  font-weight: 200;
  font-size: 1.3rem;
  position: relative;
}

pre.code {
  position: relative;
  margin: 50px 0 50px 0;
  margin-left: 2.75rem;
  padding: 2.5rem 3rem 1rem 0;
  width: fit-content;
  color: mediumspringgreen;
  border: 0.250rem solid #292831;
  background: #1f3751;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 1.15rem;
}

pre.wrong,
pre.good,
pre.syntax {
  position: relative;
  margin: 6rem 0 5rem 0;
  padding: 0.9rem 3rem 0.9rem 3rem;
  margin-left: 2rem;
  width: fit-content;
  background: mediumspringgreen;
  border: 0.250rem solid #2d2c33;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 1.3rem;
  color: #1f3751;
}

.good::before {
  position: absolute;
  top: calc(50% - 1rem);
  left: -6.3rem;
  content: "";
  padding-right: 1.6rem;
  background: url(./assets/correct.svg) no-repeat;
  background-size: contain;
  width: 2rem;
  height: 2rem;
}

.good::after {
  position: absolute;
  content: "";
  top: 0;
  left: -2.25rem;
  padding-left: 1.5rem;
  border-left: 2px solid mediumspringgreen;
  height: 100%;
  width: 3rem;
  font-weight: lighter;
  color: mediumspringgreen;
}

pre.wrong {
  background: #f49cc0;
}

.wrong::before {
  position: absolute;
  top: calc(50% - 1rem);
  left: -6.3rem;
  content: "";
  padding-right: 1.6rem;
  background: url(./assets/incorrect2.svg) no-repeat;
  background-size: contain;
  width: 2.2rem;
  height: 2.2rem;
}

.wrong::after {
  position: absolute;
  content: "";
  top: 0;
  left: -2.25rem;
  padding-left: 1.5rem;
  border-left: 2px solid #ff1475;
  height: 100%;
  width: 3rem;
  font-weight: lighter;
  color: #ff1453;
}

.syntax::before {
  position: absolute;
  top: -3.5rem;
  left: -6.3rem;
  content: "";
  padding-right: 1.6rem;
  background: url(./assets/coding.svg) no-repeat;
  background-size: contain;
  width: 2.3rem;
  height: 2.3rem;
}

.syntax::after {
  position: absolute;
  content: "syntax_";
  top: -3.3rem;
  left: -2.25rem;
  padding-left: 1.5rem;
  border-left: 2px solid mediumspringgreen;
  height: 9rem;
  width: 3rem;
  font-weight: lighter;
  color: mediumspringgreen;
}

.html,
.css,
.js {
  position: relative;
}

.js::before {
  position: absolute;
  top: calc(50% - 1.75rem);
  left: -7rem;
  content: "";
  background: url(./assets/js-format.svg) no-repeat;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.css::before {
  position: absolute;
  top: calc(50% - 1.75rem);
  left: -7rem;
  content: "";
  background: url(./assets/css.svg) no-repeat;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.html::before {
  position: absolute;
  top: calc(50% - 1.75rem);
  left: -7rem;
  content: "";
  background: url(./assets/html.svg) no-repeat;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.html::after {
  padding-left: 3rem;
  margin-left: -3.5rem;
  content: "HTML5";
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 1.5rem;
  height: 100%;
  border-left: 2px solid mediumturquoise;
  color: deeppink;
}

.css::after {
  padding-left: 3rem;
  margin-left: -3.5rem;
  position: absolute;
  content: "CSS";
  top: 0;
  left: 0.5rem;
  font-size: 1.5rem;
  height: 100%;
  border-left: 2px solid mediumturquoise;
  color: deeppink;
}

.js::after {
  content: "JS";
  position: absolute;
  padding-left: 3rem;
  margin-left: -3.5rem;
  top: 0;
  left: 0.5rem;
  font-size: 1.5rem;
  height: 100%;
  border-left: 2px solid mediumturquoise;
  color: deeppink;
}

.qn {
  position: relative;
  background: aliceblue;
  border-left: 2px solid thistle;
  font-weight: 200;
}

.qn::before {
  position: absolute;
  top: 0;
  left: -4.2rem;
  content: "";
  background: url(./assets/information.svg) no-repeat;
  background-size: cover;
  width: 2.3rem;
  height: 2.3rem;
}

.ans {
  position: relative;
  background: #202020;
  color: #ededed;
  border-left: 2px solid mediumspringgreen;
  font-weight: 200;
}

.ans::before {
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  top: calc(50% - 1.6rem);
  left: -4.2rem;
  content: "";
  background: url(./assets/ai.svg) no-repeat;
  background-size: cover;
}

.note {
  position: relative;
  padding: 1.5rem;
  padding-left: 5rem;
  border-left: 2px solid #2fb6c3;
  font-size: 1rem;
  font-weight: lighter;
  color: #2fb6c3;
}

.note::before {
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  top: calc(50% - 1.6rem);
  left: -4.2rem;
  content: "";
  background: url(./assets/light-bulb-gold.svg) no-repeat;
  background-size: cover;
}

.note::after {
  position: absolute;
  left: 1.5rem;
  content: "Note:";
  font-weight: bold;
}

.info {
  position: relative;
  padding: 15px 50px 10px 0;
  width: fit-content;
  border-left: 5px solid lightseagreen;
  color: cadetblue;
  background: lavender;
}

footer {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.125rem solid #2d2c33;
}

footer a {
  position: relative;
  color: #a93e89;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 2.5rem;
  transition: 2s ease;
}

footer a::before {
  content: "△";
  text-decoration: none;
  font-weight: 300;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

table a:hover,
footer a:hover {
  color: #ffffff;
  transition: 2s ease;
}

.browser {
  position: relative;
  border-left: 2px solid mediumturquoise;
  padding: 5rem;
  padding-left: 7rem;
  width: 50%;
  margin-bottom: 5rem;
}

.browser::before {
  content: "";
  position: absolute;
  top: 0;
  left: -4.2rem;
  height: 2.3rem;
  width: 2.3rem;
  background: url(./assets/web-design-green.svg) no-repeat;
  background-size: cover;
}

.browser::after {
  content: "browser_";
  top: 0;
  position: absolute;
  left: 1.5rem;
  font-size: 1.3rem;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
  color: mediumspringgreen;
}

.breadcrumbs {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.breadcrumbs a{
  color: #a93e89;
  display: inline-block;
  list-style: none;
  transition: 1.5s ease;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  text-decoration: none;
  transition: 1s ease;
}

.breadcrumbs a:hover:not(.active) {
  color: #dfd7d7;
  border: 2px solid #dfd7d7;
  padding: 0.5rem;
  transition: 1s ease;
}

.breadcrumbs a.active {
  color: #202020;
  border: 2px solid #dfd7d7;
  background: #dfd7d7;
  padding: 0.5rem;
}

.breadcrumbs a.active:hover {
  color: #dfd7d7;
  border: 2px solid #dfd7d7;
  background: #202020;
  padding: 0.5rem;
  transition: 1s ease;
}