@media screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: portrait) {
  body * {
    margin: 0;
    font-size: 1.2rem;
  }

  nav, 
  .navbar-btn-container {
    justify-content: center;
  }

  #header-1,
  #header-2 {
    font-size: 5em;
  }


  #header-2 {
    margin: 0.5em 0;
  }

  .main {
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 35em;
  }

  .main-box {
    display: flex;
    margin: -10em;
    width: 10em;
    justify-content: center;
    align-items: center;
  }

  #main-box-description {
    margin: 0.3em;
  }

  .main-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #main-btn-buy,
  #main-btn-show {
    margin: 0.5em;
  }

  .menu-chef {
    display: none;
    width: 0;
  }

  .popular-dishes-flex-container {
    margin: 3em 0 0em;
  }

  .popular-flex-dish {
    margin-bottom: 1.5em;
  }

  .popular-flex-dish img {
    width: 15em;
  }

  #dish-name {
    left: 2em;
  }

  #dish-price {
    right: 2em;
  }

  #popular-dish-link {
    right: 2em;
  }

  .popular-dish-discription {
    padding: 2em;
  }
  
  .popular-dish-price #dish-name {
    left: 2em;
  }
  
  .popular-dish-price #dish-price {
    right: 2em;
  }

  #dish-name {
    left: 0em;
  }

  #dish-price {
    right: 0;
  }

  .dish-description {
    width: 16em;
  }

  #menu-chef-image {
    display: none;
  }

  .footer-contact ~ a {
    display: block;
  }

  .footer-flex-container {
    flex-direction: column;
  }

  #footer-header {
    margin-bottom: initial;
  }

  #footer-link {
    margin: 0.5em 0;
  }

  .footer-contact,
  .footer-navigation {
    padding: 0.5em;
    text-align: center;
  }

  .footer-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer-navigation {
    padding-bottom: 5em;
  }
}

@media screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  nav {
    justify-content: center;
  }

  #header-1 {
    margin-left: 0.3em;
  }
  
  .main {
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 25em;
  }

  .main-box {
    display: flex;
    margin: 0;
    text-align: center;
  }

  #main-box-description {
    margin: 0.9em;
  }

  .main-btn-container {
    display: flex;
    justify-content: center;
  }

  #main-btn-buy,
  #main-btn-show {
    margin: 0.5em;
  }

  .popular-dishes-flex-container {
    flex-wrap: initial;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .popular-dishes-flex-container, .menu-flex-container {
    margin: 1em 0 3em;
  }

  .popular-flex-dish {
    margin: 1.5em 0;
  }

  .menu-container {
    padding: 0 3em;
  }

  .menu-chef {
    display: none;
    width: 0%;
  }

  .menu-flex-container {
    margin: 1em 0 2em;
    width: 100%;
  }

  .menu-flex-item {
    width: 10em;
  }
}

@media (min-width: 1025px) 
and (max-width: 1280px) {
  body * {
    font-size: 0.9rem;
  }

  .main {
    height: 26em;
  }

  .main-box {
    margin: 5em 8em 0 0;
    width: 20em;
  }

  #header-1 {
    margin: 0;
    font-size: 2.7em;
  }

  #header-2 {
    font-size: 2.5em;
  }

  .populair-dish {
    width: 10em;
  }

  .popular-dish img {
    margin-left: 2.9em;
    width: 13em;
  }
  
  .menu-container {
    padding: 0 1em;
  }

  .menu-chef {
    width: 23%;
  }

  #menu-chef-image {
    block-size: 30em;
  }

  .menu-flex-container {
    margin: 0 0 1em;
  }

  .menu-flex-item {
    width: 15em;
  }

}

