@media only screen and (max-width: 1200px) {
  body * {
    font-size: 0.9rem;
  }

  .main {
    height: 25em;
  }

  .main-box {
    margin-right: 10em;
    width: 20em;
  }

  #header-1 {
    margin: 0;
    font-size: 2.7em;
  }

  #header-2 {
    font-size: 2.5em;
  }

  .populair-dish {
    width: 10em;
  }

  .popular-dish img {
    margin-left: 2.9em;
    width: 13em;
  }
  
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: portrait) {
  body * {
    margin: 0;
    font-size: 1.2rem;
  }

  nav, 
  .navbar-btn-container {
    justify-content: center;
  }
  
  .main {
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 35em;
  }

  .main-box {
    display: flex;
    margin: -10em;
    width: 10em;
    justify-content: center;
    align-items: center;
  }

  #main-box-description {
    margin: 0.3em;
  }

  .main-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #main-btn-buy,
  #main-btn-show {
    margin: 0.5em;
  }

  #menu-chef-image {
    display: none;
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  nav {
    justify-content: center;
  }

  #header-1 {
    margin-left: 0.3em;
  }
  
  .main {
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 25em;
  }

  .main-box {
    display: flex;
    margin: 0;
    text-align: left;
  }

  #main-box-description {
    margin: 0.9em;
  }

  #main-btn-buy,
  #main-btn-show {
    margin: 0.5em;
  }
}