body {
  margin-left: 21.03rem;
  background-color: #FBF8F3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.side-nav {
  position: fixed;
  width: 21rem;
  text-transform: uppercase;
  top: 0;
  left: 0;
  background-color: #4b86cb;
}

.nav-header-box, 
.navlinks {
  box-sizing: border-box;
}

.nav-header-box {
  padding: 0.5rem;
  border-bottom: 0.125em solid #94C2E5;
}

.nav-wthead {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 900;
  margin: 0.5rem 0;
}

.nav-links {
  padding-top: 1.5rem;
}

.navlinks i {                                                                                                                                                                                                                                                                                
  margin-right: 0.5rem; 
}

.nav-links a {
  margin: 1.5rem 3rem 1.5rem 5rem;
  text-decoration: none;
  transition: 300ms color;
}

.nav-drop-box i,
.nav-links a,
.nav-wthead {
  color: white;
}

.nav-drop-box i {
  line-height: 1.5rem;
}

.nav-links a:hover,
.nav-drop-box:hover {
  transition: 300ms color;
  color: #C5DEEA;
}

main {
  padding: 1em;
}

main h1,
section.ad-info h2{
  text-align: center;
  font-weight: 800;
  color: #4B86CB;
}

main h1 {
  margin: 0;
  font-size: 4rem;
}

.members-header {
  border-bottom: 0.125rem solid #e2e8f0;
}

.members-header,
section.members {
  padding: 1rem;
}

section.members table {
  width: 100%;
}

section.members th,
section.members td {
  padding: 0.3rem;
  text-align: justify;
}

section.members table,
section.members .oneven-row,
section.members .even-row {
  border: 0.125rem solid #e2e8f0;
}

section.members .even-row {
  background-color: #a0aec0;
}

section.ad-info form{
  display: flex;
  flex-wrap: wrap;
}

.ad-info h2 {
  font-size: 2.25rem;
}

.ad-info input[type=email],
.ad-info input[type=number],
.ad-info input[type=text] {
  background-color: #C5DEEA;
  border: none;
  border-radius: 0.5rem;
}