body * {
  font-family: 'Lobster', cursive;
  font-size: 1.05em;
}

nav {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  width: 100%;
  top: 0;
  background-color: rgb(255, 255, 255, 0.5);
}

.navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2em;
  block-size: 3.125em;
  flex-basis: 3.750em;
  text-transform: uppercase;
}

.navbar-btn a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}

#header-1 {
  margin: 0;
  font-size: 3.750em;
}

#header-2 {
  text-align: center;
  font-size: 3.2em;
}

.main {
  display: flex;
  justify-content: flex-end;
  height: 35em;
  background-size: cover;
  background-image: url(images/cooking.jpg);
  background-repeat: no-repeat;
}

.main-box {
  margin: 5em 20em 0 0;
  display: flex;
  flex-direction: column;
  color: rgb(92, 128, 203);
}

.main-btn-container {
  display: flex;
}

.main-btn {
  width: 8em;
  height: 2em;
  text-transform: uppercase;
  text-align: center;
  line-height: 2em;
  transition: 2s background-color ease;
}

#main-btn-buy,
#main-btn-show {
  transition: 2s background-color ease, 2s color ease;
}

#main-btn-buy:hover,
#main-btn-show:hover {
  color: rgb(255, 255, 255);
}

#main-btn-buy:hover {
  background-color: rgb(100, 149, 237);
}

#main-btn-show:hover {
  background-color: rgb(0, 250, 154);
}

#main-btn-buy {
  margin-right: 0.5em;
  border: 0.125em solid rgb(100, 149, 237);
}

#main-btn-show {
  margin-left: 0.5em;
  border: 0.125em solid rgb(0, 250, 154);
  color: rgb(0, 250, 154);
}

.popular-dishes-flex-container,
.menu-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3em 0 5em;
}

.popular-flex-dish {
  position: relative;
  width: 18em;
}

.popular-flex-dish img {
  margin-left: 2em;
  object-fit: contain;
  border-radius: 50%;
  width: 15em;
}

.menu-container {
  display: flex;
  position: relative;
  justify-content: center;
  padding-left: 10em;
  padding-right: 10em;
}

.menu-chef {
  position: relative;
  width: 19%;
}

.menu-flex-container {
  width: 70%;
}

#menu-chef-image {
  position: absolute;
  bottom: 0;
  block-size: 35em;
  object-fit: cover;
}

.menu-flex-item {
  position: relative;
  width: 22em;
}

#dish-description {
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.popular-dish-price {
  position: relative;
  margin: 0.5em 0 0.5em;
}

#popular-dish-link {
  position: absolute;
  bottom: 0;
  right: 0;
}

#dish-name,
#dish-price {
  position: absolute;
  top: 0;
}

#dish-name {
  left: 0;
}

#dish-price {
  right: 0;
}

footer {
  background-color: rgb(0, 250, 154);
}

.footer-flex-container {
  display: flex;
  justify-content: space-around;
}

.footer-contact,
.footer-navigation {
  padding: 2em;
}

.footer-social-media {
  margin-top: 2em;
}

.footer-navigation ul {
  list-style-type: none;
}

.footer-navigation strong {
  margin-bottom: 2em;
}

footer,
#footer-link {
  color: rgb(100, 149, 237);
  font-size: 0.9em;
}

#footer-link {
  text-transform: uppercase;
}

#footer-header {
  display: block;
  font-size: 1.2em;
  margin-bottom: 1em;
}