body * {
  font-family: 'Lobster', cursive;
  font-size: 1.05em;
}

nav {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  width: 100%;
  top: 0;
  background-color: rgb(255, 255, 255, 0.5);
  }

.navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2em;
  block-size: 3.125em;
  flex-basis: 3.750em;
  text-transform: uppercase;
}

.navbar-btn a:hover, a:visited,
a:link, a:active {
  text-decoration: none;
  color: black;
}

.cooking-main {
  display: flex;
  justify-content: flex-end;
  height: 50em;
  background-size: cover;
  background-image: url(images/cooking.jpg);
  background-repeat: no-repeat;
}

.cooking-main-box {
  margin-top: 3em;
  color: rgb(92, 128, 203);
  margin-right: 17em;
}

.cooking-main-box h1 {
  font-size: 3.750em;
}

.cooking-btn-container {
  display: inline-flex;
}

.cooking-btn {
  width: 8em;
  height: 2em;
  text-transform: uppercase;
  text-align: center;
  line-height: 2em;
  transition: 2s background-color ease;
}

#cooking-btn-buy, 
#cooking-btn-show {
  transition: 2s background-color ease, 2s color ease;
}

#cooking-btn-buy:hover,
#cooking-btn-show:hover {
  color: 	rgb(255,255,255);
}

#cooking-btn-buy:hover {
  background-color: rgb(100,149,237);
}

#cooking-btn-show:hover {
  background-color: rgb(0,250,154);
}

#cooking-btn-buy {
  margin-right: 0.5em;
  border: 2px solid rgb(100,149,237);
}

#cooking-btn-show {
  margin-left: 0.5em;
  border: 2px solid rgb(0,250,154);
  color: rgb(0,250,154);
}

#cooking-header {
  text-align: center;
  font-size: 3.2em;
}

.popular-dishes-flex-container,
.menu-dishes-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5em 0 5em;
}


.popular-dish {
  width: 18em;
}

.popular-dish img {
  margin-left: 2em;
  object-fit: contain;
  border-radius: 50%;
  width: 13em;
}

.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.menu-dishes-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80em;
}

#menu-chef-image {
  block-size: 50em;
  object-fit: contain;
  margin-right: 5em;
}

.menu-dish-flex-item {
  width: 20em;
}

#dish-description {
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.popular-dish-price {
  margin: 0.5em 0 0.5em;
}

.popular-dish a {
float: right;
}

#dish-name {
  float: left;
}

#dish-price {
  float: right;
}

footer {
  background-color: rgb(0,250,154);
  color:  rgb(100,149,237);
}

.footer-flex-container,
.footer-contact,
.footer-navigation {
  display: flex;
  justify-content: left;
}

.footer-contact,
.footer-navigation {
}



.footer-navigation ul {
  list-style-type: none;
}

.footer-navigation a {
  color: rgb(100,149,237);
}