@mixin style-button($color, $bgcolor, $hover-color) {
  color: $color;
  background-color: $bgcolor;
  &:hover {
    background-color: $hover-color;
  }
}

@mixin transition-div($initial-color, $final-color, $duration) {
  color: $initial-color;
  transition-property: color;
  &:hover {
    color: $final-color;
    transition-duration: $duration;
  }
}