* {
  font-family: Helvetica;
}

p {
  background: lavender;
  padding: 20px
}

.code {
  background: #001933;
  border-left: 5px solid #3CB371	;
  color: #FF1493;
  width: 500px;
  padding: 15px 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 18px;
}

.code > span{
  color: #FFA500;
  float: right;
}

