$secondary-color: rgb(0, 250, 154);
$primary-color:  rgb(100, 149, 237);
$hover-color: #FFF;

@mixin primary-color {
  color: rgb(100, 149, 237);
}

@mixin secondary-color {
  color: rgb(0, 250, 154);
}


