@import "./base";
@import "./colors";

%flex {
  display: flex;
}

%fixed-position {
  position: fixed;
  width: 100%;
  top: 0;
}

nav {
  @extend %flex;
  @extend %fixed-position;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: flex-end;
  .navbar-btn {
    @extend %flex;
    @include justify-align-center;
    padding-right: 2em;
    block-size: 3.125em;
    flex-basis: 3.750em;
    text-transform: uppercase;
    & a:hover,
    a:visited,
    a:link,
    a:active {
      text-decoration: none;
      color: black;
    }
  }
}

footer {
  background-color: $secondary-color;
}

.footer-flex-container {
  @extend %flex;
  justify-content: space-evenly;
}

.footer-contact,
.footer-navigation {
  @extend %flex;
  flex-direction: column;
  padding: 0 0 4em;
}

.footer-contact p,
.footer-navigation p {
  margin: 0;
}

.footer-social-media {
  margin-top: 2em;
}

.footer-navigation ul {
  list-style-type: none;
}

footer,
#footer-link {
  color: $primary-color;
}

#footer-link {
  text-transform: uppercase;
}

.footer-header {
  display: block;
  font-size: 1.2em;
  margin: 1em 0;
}